html,body{ margin:0; padding:0; height:100%; width:100%; }
body{
	margin: 0;
	/*background: linear-gradient(135deg ,#caebb7, #2a5da2);*/
    background: rgb(33,55,143);
    background: -moz-linear-gradient(left, rgba(33,55,143,1) 0%, rgba(54,116,172,1) 100%);
    background: -webkit-linear-gradient(left, rgba(33,55,143,1) 0%,rgba(54,116,172,1) 100%);
    background: linear-gradient(to right, rgba(33,55,143,1) 0%,rgba(54,116,172,1) 100%);
	font-family: Arial,Helvetica;
    overflow: hidden;
}
p, h1, h2, h3, span, a{
    font-family: 'Open Sans', sans-serif;
}
@font-face {
    font-family: bebasNeue;
    src: url('../fonts/BebasNeue.otf');
    src: url('../fonts/BebasNeue-Regular.ttf');
}
@font-face {
    font-family: proximaNovaRegular;
    src: url('../fonts/ProximaNovaRegular.otf');
}
.container{
    width: 1440px;
}
.top-header{
    position: absolute;
    /*z-index: 9999;*/
    left: 0;
    right: 0;
}

.header-section{
    display: flex;
    overflow-y: hidden;
    height: 100%;
    min-height: 768px;
    position: relative;
    z-index: 3;
    /*background: url("../img/whole-background.png") no-repeat;*/
}
.desktop-background{
    position: absolute;
    height: 100%;
    z-index: -9999999999;
    width: 14000px;
}
.mobile-background{
    position: absolute;
    width: -webkit-fill-available;
    z-index: -9999999999;
    height: fit-content;
}
.header-section > img.mobile-background{
    display: none;
}
.left-fixed-menu{
    padding: 136px 72px 0 25px;
    width: 300px;
    min-width: 144px;
    align-self: center;
}
.left-nav-arrow, .left-nav-arrow-container{
    position: fixed;
    left: 0;
    height: 100%;
    top: 0;
    z-index: 2;
}
.left-nav-arrow{
    background-color: rgba(9, 40, 78, 0.79);
    text-align: center;
    animation: left-arrow-hover-back 0.5s forwards;
}
.left-nav-arrow-container{
    width: 116px;
    cursor: pointer;
}
@keyframes left-arrow-hover-back {
    from{
        width: 116px;
    }
    to{
        width: 1px;
    }
}
/*.left-nav-arrow:hover{*/
    /*animation: left-arrow-hover 0.5s forwards;*/
/*}*/
@keyframes left-arrow-hover {
    from{
        width: 1px;
    }
    to{
        width: 116px;
    }
}
.left-nav-arrow img, .right-nav-arrow img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.right-nav-arrow img{
    padding-left: 1px;
}
.left-nav-arrow img{
    padding-right: 1px;
    position: relative;
    left: -28px;
    animation: left-nav-arrow-img 0.5s forwards;
}
@keyframes left-nav-arrow-img {
    from{
        left:0;
    }
    to{
        left:-28px;
    }
}
/*.left-nav-arrow:hover img{*/
    /*animation: left-nav-arrow-img-hover 0.5s forwards;*/
/*}*/
@keyframes left-nav-arrow-img-hover {
    from{
        left:-28px;
    }
    to{
        left:0;
    }
}
.right-nav-arrow, .right-nav-arrow-container{
    position: fixed;
    right: 0;
    height: 100%;
    top: 0;
    z-index: 2;
}
.right-nav-arrow{
    background-color: rgba(9, 40, 78, 0.79);
    text-align: center;
    animation: right-arrow-hover-back 0.5s forwards;
}
.right-nav-arrow-container{
    width: 116px;
    cursor: pointer;
}
@keyframes right-arrow-hover-back {
    from{
        width: 116px;
    }
    to{
        width: 1px;
    }
}
/*.right-nav-arrow-container:hover .right-nav-arrow{*/
    /*animation: right-arrow-hover 0.5s forwards;*/
/*}*/
@keyframes right-arrow-hover {
    from{
        width: 0;
    }
    to{
        width: 116px;
    }
}
.top-header ul{
	list-style-type: none;
    padding: 15px 34px!important;
    margin: 0;
    display: flex;
    flex-direction: row;
    background: linear-gradient(#093352, #0e5487); 
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    color: #ffffff;
    position: relative;
    width: 919px;
}
.top-header .menu-opener{
    background: -moz-linear-gradient(top, rgba(14,84,135,1) 0%, rgba(11,70,112,1) 33%, rgba(11,67,109,1) 100%);
    background: -webkit-linear-gradient(top, rgba(14,84,135,1) 0%,rgba(11,70,112,1) 33%,rgba(11,67,109,1) 100%);
    background: linear-gradient(to bottom, rgba(14,84,135,1) 0%,rgba(11,70,112,1) 33%,rgba(11,67,109,1) 100%);
    padding: 10px;
    width: 30px;
    height: 13px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    display: inline-block;
    z-index: 0;
    bottom: 5px;
    cursor: pointer;
}
.top-header .menu-opener img{
    width: 15px;
    margin-top: -5px;
    cursor: pointer;
}
.main-top-header-menu{
    width: 100%;
    height: 100%;
    /*display: flex;*/
}
.logo-icon{
    margin-left: 165px;
    position: relative;
    float: left;
}
.logo-area{
    height: 161px;
    width: 200px;
    cursor: pointer;
    position: relative;
    z-index: 4;
}
.logo-icon img.scrolling{
    position: absolute;
    top: 0;
    right: -4px;
    z-index:-1;
}
.mobile-area{
    display: none;
    z-index: 4;
}
.mobile-area ul{
    display: none;
    opacity: 1!important;
    height: fit-content!important;
}
.mobile-area ul li{
    width: 194px;
}
.top-header ul li{
	padding-left: 45px;
	cursor: pointer;
    font-weight: 600;
    font-style: italic;

}
.top-header ul li a{
    color: #ffffff;
    text-decoration: none;
}
.top-header ul li a:hover{
	color: #5db738;
}
.top-header ul li:first-child{
	padding-left: 0;
}

.main-menu{
	margin-left: 50px;
    z-index: 4;
    position: relative;
    text-align: center;
    width: 983px;
    float: left;
}
.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-container .inner-circle{
    background-color: #ffffff;
    border-radius: 100%;
    position: relative;
    z-index: 0;
}
.icon-container-1 .inner-circle img{
    width: 100px;
    bottom: 4px;
    right: 4px;
    pointer-events: none;
    position: relative;
}
.icon-container .inner-circle::after{
    content: "";
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    border-radius: 100%;
    z-index: -1;
}
.icon-container-1 .inner-circle::after{
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,249,249,1) 84%, rgba(238,237,237,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,249,249,1) 84%,rgba(238,237,237,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(247,249,249,1) 84%,rgba(238,237,237,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.icon-container-1 .inner-circle{
    width: 90px;
    height: 90px;
}
.icon-container p{
    width: 150px;
    font-size: 11px;
    text-align: center;
    color: #ffffff;
    margin-top: 18px;
    margin-bottom: 21px;
}
.icon-container-1 p{
    font-weight: 600;
    letter-spacing: 0.5px;
    font-style: italic;
}
.icon-container-2 p{
    font-size: 13px;
    font-weight: 900;
    letter-spacing: 0.7px;
}
.icon-container-2 object svg path{
    fill: #6bb722;
}
.icon-container-2 .inner-circle::after{
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 1%, rgba(255,255,255,1) 32%, rgba(252,251,251,1) 34%, rgba(240,239,239,1) 68%, rgba(237,236,236,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 1%,rgba(255,255,255,1) 32%,rgba(252,251,251,1) 34%,rgba(240,239,239,1) 68%,rgba(237,236,236,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 1%,rgba(255,255,255,1) 32%,rgba(252,251,251,1) 34%,rgba(240,239,239,1) 68%,rgba(237,236,236,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    cursor: pointer;
}
.icon-container-2 .inner-circle:hover::after{
    background: -moz-linear-gradient(top, rgba(240,239,239,1) 1%, rgba(255,255,255,1) 77%, rgba(252,251,251,1) 80%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(240,239,239,1) 1%,rgba(255,255,255,1) 77%,rgba(252,251,251,1) 80%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom, rgba(240,239,239,1) 1%,rgba(255,255,255,1) 77%,rgba(252,251,251,1) 80%,rgba(255,255,255,1) 100%,rgba(255,255,255,1) 100%);
}
.icon-container-2 .inner-circle {
    width: 60px;
    height: 60px;
    display: flex;
    position: relative;
    justify-content: center;
}
.icon-3 > a:hover .inner-circle polygon{
    fill: #257fba;
}
.icon-container > a:hover .inner-circle svg{
    fill: #257fba;
}
.icon-container-2 .inner-circle svg{
    bottom: 0;
    left: 11px;
    width: 37px;
    fill: #6bb722;
    cursor: pointer;
}
.icon-3 .inner-circle svg,.icon-4 .inner-circle svg{
    width: 27px;
}
.content-area{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 165px;
    /*overflow-y: hidden;*/
}
.content-area-div-1{
    background: url(../img/whiteboard-background.png) no-repeat right center;
    margin-top: 51px;
    height: 768px;
    position: relative;
}
.content-area-div-1 .container{
    display: flex;
    flex-direction: row;
    max-width: 1262px;
}
.text-container{
    color: #ffffff;
}
.heading-section{
    margin: 77px 0 44px 0;
}
.content-section{
    padding: 0 26px 55px 30px;
}
.content-section p{
    font-size: 16px;
    line-height: 1.5em;
}
.text-container h1{
    font-size: 42px;
    margin: 0;
    font-weight: bold;
}
.text-container h1.second-heading{
    text-align: right;
}
.text-content-area {
    flex: 1 1 44%;
    padding-left: 50px;
}
.arrow-right-div {
    width: 0;
    height: 0;
    border-top: 26px solid transparent;
    border-bottom: 26px solid transparent;
    border-left: 27px solid #ffffff;
    margin-left: 0;
}
.button-area{
    display: flex;
    justify-content: center;
}
.button-area a{
    position: relative;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.button-area span:hover{
    color: #6bb722;
}
.button-area span{
    font-family: bebasNeue;
    font-size: 27px;
    padding: 11px 12px 9px 12px;
    background-color: #ffffff;
    color: #2e91cf;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.arrow-animate{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
}
.arrow-animate span{
    text-transform: uppercase;
    font-family: bebasNeue;
    font-size: 20px;
    color: #024068;
}
.scroll-icon-area{
    display: flex;
    flex-direction: column;
    padding: 0 13px;
}
.scroll-icon-area img {
    width: 21px;
    height: 12px;
    padding-left: 2px;
    position: relative;
}
.scroll-icon-area img:nth-child(2){
    width: 13px;
    padding-left: 6px;
}
.scroll-icon-area img:first-child{
    top: 5px;
    animation: first-child-img 7s infinite;
    animation-direction: alternate;
}
@keyframes first-child-img{
    0% {
        top: -9px;
    }
    5%{
        top: -4px;
    }
    10% {
        top: -9px;
    }
    15%{
        top: -4px;
    }
    20% {
        top: -9px;
    }
    25%,100%{
        top: -4px;
    }
}
.scroll-icon-area img:last-child{
    bottom: -9px;
    animation: last-child-img 7s infinite;
    animation-direction: alternate;
}
@keyframes last-child-img{
    0% {
        bottom: -9px;
    }
    5% {
        bottom: -3px;
    }
    10% {
        bottom: -9px;
    }
    15% {
        bottom: -3px;
    }
    20% {
        bottom: -9px;
    }
    25%,100% {
        bottom: -3px;
    }
}
.bot-area-right{
    flex: 1 1 44%;
}
.text-other-area{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.background-board{
    background: url("../img/whiteboard.png") no-repeat;
    height: 420px;
    position: relative;
}
.background-board object{
    position: absolute;
    pointer-events: none;
}
.background-board img{
    animation: bot-up-down  1s infinite;
    animation-direction: alternate;
    height: 215px;
    position: relative;
    top: 40px;
    left: 21px;
}
@keyframes bot-up-down {
    100% {
        top: 50px;
    }
}
.background-board img:last-child {
    top: 22px;
    left: 3px;
}
.content-area-div-2{
    padding-top: 61px;
    padding-left: 12px;
    background: url(../img/content-area-2-background.png) no-repeat;
    height: 100%;
    display: flex;
    align-items: center;
    background-size: 100% 100%;
}
.content-area-div-2 .container{
    display: flex;
    justify-content: center;
    height: 500px;
    min-width: 1180px;
}
.database-icon{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}
.database-icon{
    width: 282px;
    height: 282px;
}
.vertical.database-icon .flipper {
    transform-origin: 100% 140px;
    border-radius: 50%;
}
.first-two-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
/*.vertical.database-icon:hover .flipper {*/
    /*transform: rotateX(-180deg);*/
/*}*/
.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    width: 100%;
    height: 100%;
}
.vertical .back {
    transform: rotateX(180deg);
}
.front, .back {
    transform: perspective(200px) rotateX(0deg);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 50%;
    width: 269px;
}
.front {
    z-index: 2;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: perspective(200px) rotateX(0deg);
    background: #f4f4f4;
    -webkit-box-shadow: 0px 29px 101px 2px rgba(0,0,0,0.2);
    box-shadow: 0px 29px 101px 2px rgba(0,0,0,0.2);
    border: 6px solid transparent;
}
.back {
    z-index: 1;
    transform: perspective(200px) rotateX(180deg);
    background: green;
    border: 6px solid #ffffff;
    display: none;
}
.database-icon img, .database-icon object{
    pointer-events: none;
    position: relative;
}
.second-area .database-icon img{
    height: 165px;
    width: 165px;
    padding-top: 51px;
    padding-left: 51px;

}
.third-area .database-icon img{
    height: 165px;
    width: 179px;
    padding-top: 35px;
    padding-left: 51px;

}
.fourth-area .database-icon img{
    height: 157px;
    width: 185px;
    padding-top: 56px;
    padding-left: 34px;

}
.fifth-area .database-icon img{
    height: 202px;
    width: 213px;
    padding-top: 26px;
    padding-left: 48px;
}
.second-area p{
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: #ffffff;
    position: relative;
    left: 40px;
    opacity: 0;
}
.fourth-area .database-icon{
    position: relative;
    left: -30px;
}
.second-area{
    width: 343px;
}
.third-area, .fifth-area{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
}
.database-icon p{
    font-family: proximaNovaRegular;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    left: 0;
    opacity: 1;
    position: absolute;
    top: 69px;
    font-style: italic;
}
.fifth-area{
    position: relative;
    align-items: flex-start;
    width: 276px;
}
.fifth-area .database-icon{
    position: absolute;
    bottom: 0;
    left: -40px;
}
.fifth-area > p{
    font-size: 27px;
    font-family: bebasNeue;
    color: #ffffff;
    width: 330px;
    margin-top: 96px;
    margin-left: 25px;
    letter-spacing: 2px;
    cursor: pointer;
}
.third-area .database-icon{
    width: 276px;
    height: 276px;
}

.background-board object{
    width: 233px;
    padding-top: 16px;
}
.content-area-div-3{
    margin: 28px 30px 86px 290px;
}
.content-area-div-3 .container{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    width: 1550px;
}
.other-content-area{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.content-area-div-3 h3{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 34px;
    margin-top: 24px;
    margin-bottom: 18px;
}
.first-text-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: 29%;
}
.first-text-area h3{
    font-style: normal;
    font-size: 32px;
}
.all-text-area{
    text-align: center;
    position: relative;
}
.extra-opacity{
    opacity: 0.6!important;
}
.all-text-area img {
    width: 104px;
    height: 104px;
}
.div-3-2 img{
    width: 113px;
    height: 97px;
    padding-bottom: 7px;
}
.div-3-3 img{
    width: 85px;
}

.content-area-div-4{
    margin-top: 93px;
    margin-left: -200px;
}
.content-area-div-4 .container{
    display: flex;
    flex-direction: row;
    max-width: 1420px;
}
.robot-cloud{
    min-width: 744px;
    position: relative;
    height: 673px;
}
.robot-cloud > div.robot{
    height: 1000px;
    width: 100%;
    pointer-events: none;
    position: relative;
    /*display: none;*/
}
.robot-cloud > div.robot img.robotcloud{
    position: absolute;
    width: 706px;
    bottom: 84px;
    left: -14px;
    opacity: 1;
}
.robot-cloud > div.robot img.robotcloud.animatecloud{
    animation: animatecloud 1s forwards;
    -webkit-animation: animatecloud 1s forwards;
}
@keyframes animatecloud {
    to{
        bottom: 41px;
        left: -33px;
        opacity: 1;
    }
}
.robot-cloud > div.robot img.robotmain{
    position: absolute;
    right: 30px;
    top: 42px;
    width: 406px;
    z-index: 1;
}
.robot-cloud > div.robot img.robotmain.animaterobot{
    animation: animaterobot 1s forwards;
    -webkit-animation: animaterobot 1s forwards;
}
@keyframes animaterobot {
    from{
        opacity: 1;
    }
    to{
        opacity: 1;
        right: 0;
        top: -23px;
    }
}
.cloud-inner-content{
    position: absolute;
    top: 310px;
    left: 309px;
    text-align: center;
}
.cloud-inner-content h1{
    font-size: 47px;
    font-weight: bold;
    font-style: italic;
    color: #0e5487;
    margin-bottom: 0;
}
.cloud-inner-content p{
    font-size: 21px;
    color: #74c327;
    margin-top: 0;
}
.cloud-content-area{
    color: #ffffff;
}
.cloud-content h1{
    font-size: 42px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 40px;
}
.cloud-content p{
    font-size: 16px;
    margin-bottom: 34px;
    line-height: 1.5em;
}
.cloud-content h2{
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    font-family: bebasNeue;
    font-weight: 100;
    letter-spacing: 3px;
    cursor: pointer;
    width: 300px;
    margin: 0 auto;
}
.cloud-content{
    margin-top: 125px;
    padding-left: 25px;
    position: relative;
}
.content-area-div-5{
    margin-top: 60px;
    background: url("../img/background-bot.png") no-repeat left top;
    margin-left: 81px;
    padding-left: 50px;
}
.content-area-div-5 .container{
    display: flex;
    flex-direction: row;
    max-width: 1386px;
}
.first-sec{
    margin: 50px 20px 0 53px;
    text-align: center;
    flex: 1 1 25%;
    padding-top: 80px;
}
.object-div object{
    height: 446px;
    pointer-events: none;
}
.first-sec img{
    position: relative;
    bottom: 31px;
    right: -21px;
    z-index: -1;
}
.first-sec img.cross-icon{
    width: 141px;
    right: 22px;
    z-index: 1;
}
.second-sec{
    color: #ffffff;
    padding-top: 130px;
    flex: 1 1 47%;
    position: relative;
}
.second-sec h1{
    font-size: 42px;
    font-weight: bold;
}
.second-sec p{
    font-size: 16px;
    line-height: 1.5em;
}
.third-sec{
    flex: 1 1 20%;
    padding-top: 20px;
    min-width: 368px;
}
.third-sec object{
    min-width: 368px;
    position: relative;
    right: 50px;
    /*display: none;*/
    pointer-events: none;
}
.content-area-div-6{
    padding-top: 165px;
    margin-left: 300px;
    background: url(../img/heart-background.png) no-repeat;
    background-size: cover;
}
.content-area-div-6 .container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 1388px;
}
.first-6{
    padding-left: 10px;
}
.first-6 .hearts-svg-area img:first-child{
    width: 196px;
    height: 206px;
    position: absolute;
    right: 67px;
    top: 87px;
}
.first-6 .hearts-svg-area img:nth-child(2){
    width: 181px;
    height: 180px;
    position: absolute;
    top: 295px;
    z-index: 1;
    right: 253px;
}
.first-6 .hearts-svg-area img:nth-child(3){
    width: 165px;
    height: 150px;
    position: absolute;
    top: 216px;
    right: 188px;
}
.first-6 .hearts-svg-area img:nth-child(4){
    width: 32px;
    height: 27px;
    position: absolute;
    top: 187px;
    left: 84px;
}
.first-6 .hearts-svg-area img:nth-child(5){
    width: 50px;
    height: 40px;
    position: absolute;
    top: 111px;
    left: 90px;
}
.first-6 .hearts-svg-area img:nth-child(6){
    width: 60px;
    height: 50px;
    position: absolute;
    top: 68px;
    left: 9px;
}
.first-6 .hearts-svg-area img:nth-child(7){
    width: 75px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 82px;
}
.first-6 .hearts-svg-area img:nth-child(8){
    width: 40px;
    height: 32px;
    position: absolute;
    top: 148px;
    left: 51px;
}
.first-6 object{
    width: 378px;
    height: 422px;
    pointer-events: none;
}
.hearts-svg-area{
    width: 447px;
    height: 502px;
    position: relative;
}
.second-6{
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 57px;
    padding-left: 10px;
    min-width: 488px;
}
.second-6 h1{
    font-size: 42px;
    font-weight: bold;
}
.second-6 p{
    font-size: 16px;
    line-height: 1.5em;
}
.third-6{
    display: flex;
    flex-direction: column;
    padding-top: 66px;
    position: relative;
}
.third-6 .sun-top{
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: center;
}
.third-6 .sun-top img{
    padding-left: 59px;
    animation: third-6 2s infinite;
    animation-direction: alternate;
    pointer-events: none;
    position: unset;
}
@keyframes third-6 {
    0% {
        width: 41px;
        height: 41px;
    }

    100% {
        width: 57px;
        height: 57px;
    }
}
.super-man object{
    pointer-events: none;
}
.super-man img.small{
    width: 40px;
    position: relative;
    left: 35px;
    animation: cloud-1 1.5s infinite;
    animation-direction: alternate;
}
.super-man object{
    height: 341px;
    width: 251px;
}
.super-man img.big{
    width: 58px;
    position: relative;
    top: 63px;
    animation: cloud-2 1.6s infinite;
    animation-direction: alternate;
}
@keyframes cloud-1 {
    0%{
        left: 25px;
    }
    100%{
        left: 35px;
    }
}
@keyframes cloud-2 {
    0%{
        left: 0;
    }

    100%{
        left: 10px;
    }
}
.third-6 p{
    font-family: bebasNeue;
    font-size: 27px;
    color: #ffffff;
    letter-spacing: 2px;
    padding-left: 80px;
    cursor: pointer;
}
.third-6 img {
    position: relative;
    right: 67px;
    top: -17px;
}
.super-man{
    display: flex;
    align-items: flex-start;
}
.content-area-div-7{
    margin-top: 123px;
}
.content-area-div-7 .container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.connector-area{
    position: relative;
}
.icon-section-area{
    color: #ffffff;
    flex: 1 1 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 19px;
    position: relative;
}
.icon-section-area > img{
    position: absolute;
    top: 111px;
    left: 96px;
}
.icon-section-area > div{
    padding: 11px 11px 0 11px;
    margin-bottom: 5px;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
}
.icon-section-area > div p{
    font-size: 12.5px;
    font-weight: bold;
}
.switch-icon-container{
    width: 77px;
    height: 62px;
}
.switch-icon-container img{
    width: 77px;
    height: 62px;
}
.hide-item{
    display: none;
}
.custom-style{
    /*background: #ffffff;*/
    color: #6bb722;
    z-index: 1;
}
.custom-style object:first-child{
    display: none;
}
.custom-style object:nth-child(2){
    display: block;
}
.custom-style img:first-child{
    display: none;
}
.custom-style img:nth-child(2){
    display: block;
}

@keyframes down-one {
    to{
        top: 111px;
    }
}
@keyframes down-two {
    to{
        top: 226px;
    }
}
@keyframes down-three {
    to{
        top: 349px;
    }
}
@keyframes down-four {
    to{
        top: 469px;
    }
}
/*.custom-style::after{*/
    /*content: "";*/
    /*position: absolute;*/
    /*top: 5px;*/
    /*bottom: 5px;*/
    /*left: 5px;*/
    /*right: 5px;*/
    /*border-radius: 10%;*/
    /*z-index: -1;*/
    /*background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(248,248,248,1) 93%, rgba(232,232,232,1) 100%);*/
    /*background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(248,248,248,1) 93%,rgba(232,232,232,1) 100%);*/
    /*background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(248,248,248,1) 93%,rgba(232,232,232,1) 100%);*/
/*}*/
.icon-section-area > div:hover{
    opacity: 0.5;
    transition: opacity .4s;
}
.custom-style:hover{
    opacity: 1!important;
}
.icon-section-area p {
    text-align: center;
    margin: 12px 0;
}
.icon-section-area p:first-child{
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
}
.icon-section-area object{
    width: 77px;
}
.section-text-area{
    color: white;
    flex: 1 1 37%;
    padding-right: 32px;
    padding-top: 38px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.section-text-area img{
    display: flex;
    margin: 0 auto;
}
.section-text-area h1{
    margin-top: 37px;
    margin-bottom: 36px;
    font-size: 42px;
    font-weight: bold;
}
.section-text-area p{
    margin-top: 0;
    margin-bottom: 37px;
    font-size: 16px;
    line-height: 1.5em;
}
.section-text-area h2{
    text-align: center;
    margin-top: 0;
    font-size: 27px;
    font-family: bebasNeue;
    letter-spacing: 2px;
    cursor: pointer;
}
.section-message-area{
    display: flex;
    flex-direction: column;
    flex: 1 1 43%;
    padding-left: 32px;
    padding-right: 68px;
    position: relative;
}
.section-message-area > img{
    width: 57px;
    align-self: center;
}
.section-message-area .img-main2{
    position: absolute;
    bottom: 63px;
    right: 89px;
    cursor: pointer;
}
/*.right-side-area-1 .section-message-area .img-main2{*/
    /*display: none;*/
/*}*/
.messages-area .message{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.right-side-area-1 .messages-area .message{
    display: none;
}
.messages-area{
    padding-bottom: 75px;
    height: 507px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.messages-area .message img{
    width: 59px;
    height: 59px;
    margin: 0 7px 10px 7px;
}
.messages-area .message:nth-child(odd){
    justify-content: flex-end;
    color: white;
}
.messages-area .message p{
    padding: 17px 31px 17px 21px;
    border-radius: 23px;
    margin: 0 0 10px 0;
    font-family: proximaNovaRegular;
    font-size: 16px;
    font-weight: bold;
    max-width: 308px;
}
.messages-area .message .messagess{
    padding: 17px 31px 17px 21px;
    border-radius: 23px;
    margin: 0 0 10px 0;
    font-family: proximaNovaRegular;
    font-size: 16px;
    font-weight: bold;
    max-width: 308px;
    background: #ffffff;
}

.messages-area .message:nth-child(even) p{
    background: #ffffff;
}
.messages-area .message:nth-child(odd) p{
    background: #0084ff;
    text-align: right;
}
.animateMessageLeft{
    animation: animateMessageLeft 1s forwards;
}
.animateMessageRight{
    animation: animateMessageRight 1s forwards;
}
@-webkit-keyframes animateMessageLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-10%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes animateMessageLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-10%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes animateMessageRight {
     from {
         opacity: 0;
         -webkit-transform: translate3d(10%, 0, 0);
         transform: translate3d(10%, 0, 0);
     }

     to {
         opacity: 1;
         -webkit-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
     }
 }

@keyframes animateMessageRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(10%, 0, 0);
        transform: translate3d(10%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.right-side-area-1,.right-side-area-2,.right-side-area-3,.right-side-area-4{
    flex: 1 1 80%;
    height: 645px;
}
.container-div{
    display: flex;
}
.right-side-area-2,.right-side-area-3,.right-side-area-4{
    display: none;
}
.right-side-area-1 .section-message-area{
    background: url("../img/background-iphonex-b.png") no-repeat right;
}
.right-side-area-2 .section-message-area{
    background: url("../img/background-amazon.png") no-repeat right;
}
.right-side-area-3 .section-message-area{
    background: url(../img/background-macbook.png) no-repeat right top;
    background-size: contain;
}
.right-side-area-4 .section-message-area{
    background: url("../img/background-iphonex.png") no-repeat right;
}
.content-area-div-8{
    position: relative;
}
.content-area-div-8 .container > img{
    position: absolute;
    width: 70%;
    right: -326px;
    top: -106px;
    z-index: -1;
}
.content-area-div-8 .container{
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    margin-left: 150px;
}
.first-content-area-8{
    flex: 1 1 50%;
    padding-left: 72px;
    color: #ffffff;
}
.first-content-area-8 h1{
    font-size: 42px;
    font-weight: bold;
    margin-top: 10px;
    line-height: 56px;
    margin-bottom: 19px;
}
.first-content-area-8 p{
    font-size: 16px;
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 27px;
}
.first-content-area-8 h2{
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}
.second-bot-area-8{
    flex: 1 1 50%;
    padding-left: 46px;
    position: relative;
}
.image-group {
    position: relative;
    height: 676px;
}
.image-group object{
    pointer-events: none;
}
.winking-bot{
    width: 500px;
    height: 830px;
}
.winking-bot img.bot{
    padding-top: 37px;
    padding-left: 22px;
    animation: winking 0.9s infinite;
    animation-direction: alternate;
    position: relative;
    animation-delay: 1.8s;
}
.winking-bot img.cloud{
    z-index: -1;
    width: 300px;
    position: relative;
    bottom: 87px;
    left: 26px;
}
@keyframes winking {
    from{
        top: 0;
    }
    to{
        top: 10px;
    }
}
@keyframes signals {
    from{
        top: 92px;
        opacity: 1;
    }
    to{
        top: 102px;
        opacity: 1;
    }
}
@keyframes glow {
    from{
        top: 235px;
        opacity: 1;
    }
    to{
        top: 245px;
        opacity: 1;
    }
}
.image-group > img{
    position: absolute;
    top: 235px;
    right: 133px;
    animation: glowing-area 1.8s forwards;
    /*opacity: 0;*/
}
@keyframes glowing-area {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.image-group img.signals{
    width: 146px;
    position: absolute;
    top: 92px;
    right: 129px;
    animation: fade-in-top 1.8s forwards;
    animation-delay: 0.5s;
    opacity: 0;
}
@keyframes fade-in-top {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.image-group p{
    font-family: bebasNeue;
    font-size: 27px;
    position: absolute;
    left: 342px;
    bottom: 41px;
    color: #ffffff;
    letter-spacing: 2px;
    cursor: pointer;
}
.percentage-area{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.percentage-area h1{
    font-size: 42px;
    padding-top: 27px;
    margin-bottom: 0;
    padding-bottom: 38px;
    margin-top: 0;
}
.percentage-area h1 sup{
    font-size: 17px;
    position: relative;
    bottom: 10px;
}
.percentage-area p{
    font-size: 13px;
    height: 60px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}
.percentage-area > div{
    width: 118px;
    text-align: center;
}

/*  LAST SECTION  */

.content-area-div-9 .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}
.content-area-last{
    flex: 1 1 32%;
    color: #ffffff;
    padding-top: 104px;
    padding-right: 42px;
    padding-left: 50px;
}
.form-area{
    flex: 1 1 37%;
    padding-top: 175px;
    text-align: center;
    padding-right: 10px;

}
.trophy-bot{
    flex: 1 1 31%;
    position: relative;
    padding-right: 30px;
    background: url("../img/trophybot-shadow.png") no-repeat bottom right;
}
.chat-icon{
    position: absolute;
    right: 29px;
    top: 17px;
    background: url("../img/chat.png") no-repeat;
    width: 193px;
    height: 95px;
    text-align: center;
    animation: zoomInLeft 1s forwards;
}
@keyframes zoomInLeft {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
        transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
        transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
    to{
        opacity: 1;
    }
}
.chat-icon p{
    font-size: 29px;
    color: #ffffff;
    margin-top: 16px;
}
.trophy-bot img.trophy{
    height: 395px;
    width: 441px;
    position: relative;
    animation: trophy 1s infinite;
    animation-direction: alternate;
    pointer-events: none;
}
@keyframes trophy{
    0%{
        top: 13px;
    }
    100%{
        top: 0;
    }
}
.trophy-bot img.cloud{
    height: 222px;
    width: 134px;
    position: relative;
    bottom: 34px;
    left: 109px;
    z-index: -1;
}
.main-icon-div{
    height: 723px;
}
.content-area-last h1{
    font-size: 42px;
    font-weight: bold;
    margin-top: 0;
}
.content-area-last p{
    font-size: 16px;
    line-height: 1.5em;
}
.content-area-last p.second{
    font-size: 19px;
    margin-top: 35px;
    font-style: italic;
    font-weight: 600;
}
.contact-us-icon{
    display: flex;
    flex-direction: row;
    padding-top: 56px;
}
.call-div{
    padding-left: 100px;
}
.contact-us-icon > a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
}
.contact-us-icon > div{
    text-align: center;
}
.contact-us-icon img{
    width: 100px;
}
.form-area input,.form-area textarea{
    width: 100%;
    border: 3px solid #ffffff;
    margin-bottom: 20px;
    padding: 14px;
    box-sizing: border-box;
    background: rgba(255,255,255,0.25);
    font-size: 15px;
    letter-spacing: 2px;
    color: #ffffff;
}
.form-area input::-webkit-input-placeholder{
    opacity: 0.7;
    color: #ffffff;
}
.form-area textarea::-webkit-input-placeholder{
    opacity: 0.7;
    color: #ffffff;
}
.form-area button{
    font-family: bebasNeue;
    font-size: 27px;
    background: none;
    color: white;
    border: none;
    letter-spacing: 2px;
}
.form-area button:hover{
    opacity: 0.8;
}
.form-area button img{
    width: 10px;
    height: 18px;
}
.fields-group{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.fields-group input:first-child{
    margin-right: 14px;
}
.second-6 p.last-p{
    display: none;
}
.content-area-div-7 .container p.first-child{
    display: none;
}
.section-message-area p.results{
    display: none;
}
.trophy-bot .contact-us-icon{
    display: none;
}

/*  CONNECTION LINES  */

.c-dashed-line__path {
    position: absolute;
    top: 189px;
    left: 507px;
    width: 900px;
    z-index: -1;
    opacity: 0.5;
}
.connector-1{
    display: none;
}
.connector-2 {
    position: absolute;
    top: 108px;
    width: 272px;
    z-index: -1;
    right: -280px;
    opacity: 0.5;
}
.connector-3 {
    position: absolute;
    top: -43px;
    width: 233px;
    z-index: -1;
    right: 0;
    left: 98px;
    opacity: 0.5;
}
.connector-4 {
    position: absolute;
    width: 218px;
    z-index: -1;
    right: 0;
    left: 89px;
    opacity: 0.5;
}
.connector-5 {
    position: absolute;
    width: 238px;
    z-index: -1;
    right: 0;
    left: 115px;
    top: -59px;
    opacity: 0.5;
}
.connector-6 {
    position: absolute;
    width: 247px;
    z-index: -1;
    left: 175px;
    bottom: -92px;
    opacity: 0.5;
}
.connector-7 {
    position: absolute;
    width: 277px;
    z-index: -1;
    left: 217px;
    top: -82px;
    opacity: 0.5;
}
.connector-8 {
    position: absolute;
    width: 428px;
    z-index: -1;
    left: 498px;
    bottom: 10px;
    opacity: 0.5;
}
.connector-9 {
    position: absolute;
    width: 1452px;
    z-index: -1;
    left: -212px;
    bottom: -15px;
    opacity: 0.5;
}
.connector-10 {
    position: absolute;
    width: 289px;
    z-index: -1;
    left: 171px;
    top: 9px;
    opacity: 0.5;
}
.connector-11 {
    position: absolute;
    width: 956px;
    z-index: -1;
    top: -243px;
    right: -210px;
    opacity: 0.5;
}
.connector-12 {
    position: absolute;
    width: 170px;
    z-index: -1;
    bottom: 70px;
    right: -49px;
    opacity: 0.5;
}

/*  Circle Animations  */

.circle-block {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.circle-block svg {
    width: 133px;
    height: 133px;
}

.circle1, .circle2, .circle3 {
    fill: none;
    stroke-width: 10px;
    stroke: #8eea2c;
    transition: all 2s ease-in-out;
    stroke-dasharray: 283.2865905761719;
    stroke-dashoffset: 282.2865905761719;
}

.circle-inner {
    fill: none;
    stroke-width: 10px;
    stroke: white;
}

.percentage {
    width: 69px;
    position: absolute;
    color: #8eea2c;
    top: 13px;
    left: 26px;
}

/*  Animations  */

.second-area .database-icon, .third-area .database-icon, .fourth-area .database-icon,
.fifth-area .database-icon, .fifth-area p, .first-text-area h3, .cloud-content, .object-div object,
.second-sec, .second-6, .section-text-area img, .section-text-area h1, .section-text-area p,
.first-content-area-8 h1, .first-content-area-8 p, .first-content-area-8 h2, .percentage-area p, .content-area-last h1,
.content-area-last p, .cloud-inner-content h1, .cloud-inner-content p, .connector-31, .connector-32, .connector-33, .connector-21
, .connector-22, .connector-23, .div-3-1 img, .div-3-1 h3, .div-3-1 p, .connector-41, .connector-42, .connector-43, .div-3-2 img
, .div-3-2 h3, .div-3-2 p, .connector-51, .connector-52, .connector-53, .div-3-3 img, .div-3-3 h3, .div-3-3 p, .div-3-4 img,
.div-3-4 h3, .div-3-4 p, .connector-61, .connector-62, .connector-63, .connector-71, .connector-72, .connector-73, .connector81,
.connector82, .connector83, .connector91, .connector93, .connector101, .connector102, .connector103, .connector111, .connector112,
.connector113, .connector121, .connector122, .connector123, .first-6 .hearts-svg-area img:first-child, .first-6 .hearts-svg-area img:nth-child(2),
.first-6 .hearts-svg-area img:nth-child(3),.first-6 .hearts-svg-area img:nth-child(4),.first-6 .hearts-svg-area img:nth-child(5),
.first-6 .hearts-svg-area img:nth-child(6),.first-6 .hearts-svg-area img:nth-child(7),.first-6 .hearts-svg-area img:nth-child(7),
.first-6 .hearts-svg-area img:nth-child(8), .image-group p, .section-text-area h2, .first-sec img.shadow{
    opacity: 0;
}

.fadein-animate {
    animation: content-section 1s forwards;
}
.fadein {
    animation: content-section 1s forwards;
    animation-delay: 0.5s;
}

@keyframes content-section {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.fadeout-animate {
    animation: fadeout-animate 1s forwards;
}
.fadeout-robot {
    animation: fadeout-robot 1s forwards;
}
@keyframes fadeout-robot {
    0%{
        opacity: 1;
        right: 0;
        top: -23px;
    }
    99%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        right: 30px;
        top: 42px;
    }
}
.fadeout {
    animation: fadeout-animate 1s forwards;
    animation-delay: 0.5s;
}

@keyframes fadeout-animate {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@-webkit-keyframes zoomInRight {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
        transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
        transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
    to{
        opacity: 1;
    }
}

@keyframes zoomInRight {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
        transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
        transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
    to{
        opacity: 1;
    }
}

.zoomInRight {
    -webkit-animation: zoomInRight 1s forwards;
    animation: zoomInRight 1s forwards;
}

@-webkit-keyframes zoomInLeft {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
        transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
        transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
    to{
        opacity: 1;
    }
}

@keyframes zoomInLeft {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
        transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
        transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    }
    to{
        opacity: 1;
    }
}

.zoomInLeft {
    -webkit-animation: zoomInLeft 1s forwards;
    animation: zoomInLeft 1s forwards;
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInLeft {
    -webkit-animation: fadeInLeft 1s forwards;
    animation: fadeInLeft 1s forwards;
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes fadeOutRight {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes fadeOutRight {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
}

.fadeOutRight {
    -webkit-animation: fadeOutRight 1s forwards;
    animation: fadeOutRight 1s forwards;
}

.fadeInRight {
    -webkit-animation: fadeInRight 1s forwards;
    animation: fadeInRight 1s forwards;
}
@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes slideInUp {
    from {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.slideInUp {
    -webkit-animation: slideInUp 1s forwards;
    animation: slideInUp 1s forwards;
}

@-webkit-keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes slideInDown {
    from {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.slideInDown {
    -webkit-animation: slideInDown 1s forwards;
    animation: slideInDown 1s forwards;
}

@-webkit-keyframes slideInDownMenu {
    from {
        -webkit-transform: translate3d(0, -60%, 0);
        transform: translate3d(0, -60%, 0);
        /*visibility: visible;*/
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes slideInDownMenu {
    from {
        -webkit-transform: translate3d(0, -60%, 0);
        transform: translate3d(0, -60%, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.slideInDownMenu {
    -webkit-animation: slideInDownMenu .5s forwards;
    animation: slideInDownMenu .5s forwards;
}

@-webkit-keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.slideInLeft {
    -webkit-animation: slideInLeft 1s forwards;
    animation: slideInLeft 1s forwards;
}
@-webkit-keyframes slideOutUp {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes slideOutUp {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    to {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        opacity:0;
    }
}

.slideOutUp {
    -webkit-animation: slideOutUp 1s forwards;
    animation: slideOutUp 1s forwards;
}
@-webkit-keyframes slideOutUpMenu {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, -60%, 0);
        transform: translate3d(0, -60%, 0);
        display: none;
    }
}

@keyframes slideOutUpMenu {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    to {
        -webkit-transform: translate3d(0, -60%, 0);
        transform: translate3d(0, -60%, 0);
        opacity:1;
        display: none;
    }
}

.slideOutUpMenu {
    -webkit-animation: slideOutUpMenu .5s forwards;
    animation: slideOutUpMenu .5s forwards;
}
@-webkit-keyframes slideOutUpChat {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        display: none;
    }
}

@keyframes slideOutUpChat {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    to {
        -webkit-transform: translate3d(0, -50px, 0);
        transform: translate3d(0, -70px, 0);
        opacity:1;
        display: none;
    }
}

.slideOutUpChat {
    -webkit-animation: slideOutUpChat 1s forwards;
    animation: slideOutUpChat 1s forwards;
}

@-webkit-keyframes slideOutDown {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes slideOutDown {
    from {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.slideOutDown {
    -webkit-animation: slideOutDown 1s forwards;
    animation: slideOutDown 1s forwards;
}

@-webkit-keyframes fadeOutLeft {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes fadeOutLeft {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.fadeOutLeft {
    -webkit-animation: fadeOutLeft 1s forwards;
    animation: fadeOutLeft 1s forwards;
}

@-webkit-keyframes slideOutLeft {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    to {
        visibility: hidden;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        opacity: 0;
    }
}

@keyframes slideOutLeft {
    from {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.slideOutLeft {
    -webkit-animation: slideOutLeft 1s forwards;
    animation: slideOutLeft 1s forwards;
}



/*  CONNECTION LINE ANIMATIONS  */

.paths {
    fill: none;
    stroke: grey;
    stroke-dasharray: 4;
    stroke-width: 5;
}
.path1 {
    fill: none;
    stroke: grey;
    stroke-dasharray: 3.5;
    stroke-width: 5;
}
.paths11 {
    fill: none;
    stroke: grey;
    stroke-dasharray: 3;
    stroke-width: 5;
}
#path1, #pat2, #pat3, #pat4, #pat5, #pat6, #pat7, #pat88, #pat9, #pat10,  #pat12{
    stroke-width: 2px;
    stroke: white;
}
#pat11{
    stroke-width: 1px;
    stroke: white;
}
.mask {
    fill: none;
    stroke: white;
    stroke-width: 10;
    stroke-dasharray: 1151;
    stroke-dashoffset: 1151;
    animation: dashed-1 3s linear forwards;
}
@keyframes dashed-1 {
    from {
        stroke-dashoffset: 1151;
    }
    to {
        stroke-dashoffset: 0;
    }
}
.c-dashed-line__arrow {
    animation: c-dashed-line-arrow .1s forwards;
    animation-delay: 3s;
    stroke-dasharray: 1151;
    opacity: 0;
}

@keyframes c-dashed-line-arrow {
    to {
        opacity: 1;
    }
}
.connector-2-1 {
    animation: connector-2-1 1s linear forwards;
    stroke-dasharray: 420;
    stroke-dashoffset: 475;
    fill: none;
    stroke: white;
    stroke-width: 10;
}

@keyframes connector-2-1 {
    from{
        opacity: 1;
    }
    to {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}
.connector-2-2 {
    animation: connector-2-2 .1s forwards;
    animation-delay: 1s;
}

@keyframes connector-2-2 {
    to {
        opacity: 1;
    }
}
.connector-2-3 {
    animation: connector-2-3 .1s forwards;
}

@keyframes connector-2-3 {
    to {
        opacity: 1;
    }
}
.connector-3-1 {
    animation: connector-3-1 1s linear forwards;
    fill: none;
    stroke-dasharray: 320;
    stroke-dashoffset: 320;
    stroke: white;
    stroke-width: 10;
}

@keyframes connector-3-1 {
    from{
        opacity: 1;
    }
    to {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}
.connector-3-2 {
    animation: connector-3-2 .1s forwards;
}

@keyframes connector-3-2 {
    to {
        opacity: 1;
    }
}
.connector-3-3 {
    animation: connector-3-3 .1s forwards;
    animation-delay: 1s;
}

@keyframes connector-3-3 {
    to {
        opacity: 1;
    }
}
.connector-4-1 {
    animation: connector-4-1 1s linear forwards;
    fill: none;
    stroke-dasharray: 320;
    stroke-dashoffset: 320;
}

@keyframes connector-4-1 {
    from{
        opacity: 1;
    }
    to {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}
.connector-6-1 {
    animation: connector-6-1 1s linear forwards;
    fill: none;
    stroke-dasharray: 320;
    stroke-dashoffset: 320;
}

@keyframes connector-6-1 {
    from{
        opacity: 1;
    }
    to {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}
.connector-8-1 {
    animation: connector-8-1 1s linear forwards;
    fill: none;
    stroke-dasharray: 549;
    stroke-dashoffset: 549;
    stroke: white;
    stroke-width: 10;
}

@keyframes connector-8-1 {
    from{
        opacity: 1;
    }
    to {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}
.connector-9-1 {
    animation: connector-9-1 1s linear forwards;
    fill: none;
    stroke-dasharray: 1377;
    stroke-dashoffset: 1377;
}

@keyframes connector-9-1 {
    from{
        opacity: 1;
    }
    to {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}
.connector-11-1 {
    animation: connector-11-1 2s linear forwards;
    fill: none;
    stroke-dasharray: 1377;
    stroke-dashoffset: 1377;
}

@keyframes connector-11-1 {
    from{
        opacity: 1;
    }
    to {
        stroke-dashoffset: 0;
        opacity: 1;
    }
}
.connector-11-2 {
    animation: connector-11-2 .1s forwards;
    animation-delay: 1.4s;
}

@keyframes connector-11-2 {
    to {
        opacity: 1;
    }
}
/*.slideInDownMenu, .slideOutUpMenu{*/
    /*animation: none!important;*/
/*}*/